#register {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(22,30,47,1);
    background: -moz-linear-gradient(top, rgba(22,30,47,1) 0%, rgba(51,69,91,1) 100%);
    background: -webkit-linear-gradient(top, rgba(22,30,47,1) 0%, rgba(51,69,91,1) 100%);
    background: -o-linear-gradient(top, rgba(22,30,47,1) 0%, rgba(51,69,91,1) 100%);
    background: -ms-linear-gradient(top, rgba(22,30,47,1) 0%, rgba(51,69,91,1) 100%);
}
