doctype html
html
    head(lang="fr")
    title SmartCalendar
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/stylesheets/bootstrap.css')
    link(rel="stylesheet", href='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')

    body
        block content
